<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039300059190-4v0iq192brvm551s3oj1bnui18b2cirv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039300059190-4v0iq192brvm551s3oj1bnui18b2cirv</string>
	<key>API_KEY</key>
	<string>AIzaSyCsv-wdUOzWu05PS7u7TcNC_EomcFrmMxc</string>
	<key>GCM_SENDER_ID</key>
	<string>1039300059190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobile</string>
	<key>PROJECT_ID</key>
	<string>hunger-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>hunger-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039300059190:ios:296866441048aba4ccb897</string>
</dict>
</plist>